.accept {
  background-color: rgb(69, 104, 77);
}

.reject {
  background-color: rgb(117, 49, 49);
}

.accept:hover {
  background-color: rgb(99, 139, 109);
}

.reject:hover {
  background-color: rgb(153, 76, 76);
}

.requestitem:button {
  padding: 1rem;
  border-radius: 30px;
  text-decoration: none;
  color: rgb(11, 11, 8);
  font-weight: bold;
  font-family: 'Open Sans', 'Lato', sans-serif;
}
