.request-navbar-header {
  width: 100%;
  height: 5rem;
  background-color: #658f68;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: right;
  align-items: center;
}

.request-navbar-header ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: baseline;
}

.request-navbar-header li {
  margin: 0 1rem;
  /* box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2); */
}


.request-navbar-header a {
  padding: 1rem;
  border-radius: 30px;
  background-color: rgb(150, 150, 184);
  text-decoration: none;
  color: rgb(67, 65, 57);
  font-weight: bold;
  font-family: 'Open Sans', 'Lato', sans-serif;
}

.request-navbar-header :hover {
  color: #e2e2e2b3;
}
