.main-navbar-header {
  width: 100%;
  height: 6rem;
  background-color: #175d1e;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10%;
}


.main-navbar-header ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: baseline;
  align-items: center
}

.main-navbar-header li {
  margin: 0 1rem;
}
.main-navbar-header img {
  width: 2rem;
  border: 1px solid rgb(255, 255, 255);
  border-radius: 2rem;
}
.main-navbar-header img:hover {
  border: 2px solid rgb(255, 255, 255);
}

.main-navbar-header a {
  text-decoration: none;
  color: rgb(197, 229, 201);
  font-weight: bold;
}

.main-navbar-header button {
  font: inherit;
  background-color: transparent;
  border: 1px solid rgb(255, 255, 255);
  color: white;
  font-weight: bold;
  padding: 0.5rem 1.5rem;
  border-radius: 6px;
  cursor: pointer;
}


.main-navbar-nav :hover {
  color: #6eab67;
}

.main-navbar-logo {
  font-family: 'Lato', sans-serif;
  font-size: 2rem;
  color: rgb(197, 229, 201);
}